.activity {
    padding-top: 0;

    @media screen and (max-width:1199px) {
        display: none;
    }
}

.activity__list {
    display: flex;
}

.activity__item {
    position: relative;
    @extend %flex-centered;

&:not(:first-child) {
        margin-left: 30px;
    }
}

.activity__label {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    @extend %flex-centered;

    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.14;

    background-color: $labelBg;
    color: $bgColor;
}