// .features-list {
// 	@include respond-to("medium") {
// 		display: flex;
// 		flex-wrap: wrap;
// 		margin-top: -30px;
// 		margin-left: -30px;
// 	}
// }

.features-list__item {
	max-width: 450px;

	@media Screen and (max-width: 767px) {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	@include respond-to("medium") {
		width: calc((100% - 60px) / 2);
		//margin-top: 30px;
		//margin-left: 30px;
	}

	@include respond-to("large") {
		width: calc((100% - 120px) / 4);
	}
}

.features-list__thumb {
	@extend %flex-centered;

	//width: 270px;
	height: 120px;
	margin-bottom: 30px;

	background-color: $secondaryBgColor;
	border-radius: 4px;
}

.features-list__title {
	@media screen and (max-width: 767px) {
		text-align: center;
	}
	margin-bottom: 10px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: $titleColor;
}
