.portfolio-card {
	@include respond-to("medium") {
		width: calc((100% - 60px) / 2);
	}

	@include respond-to("large") {
		width: calc((100% - 90px) / 3);
	}

	@media screen and (max-width: 767px) {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
	@include animation(box-shadow);

	&:hover {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	}
}

.portfolio-card__thumb {
	position: relative;
	overflow: hidden;
	.portfolio-card__link:hover &,
	.portfolio-card__link:focus & {
		transform: translateY(0);
	}
}

.portfolio-card__img {
	display: block;
}

.portfolio-card__text-wrap {
	@extend %flex-centered;
	position: absolute;
	bottom: 0;
	height: 100%;
	//min-height: 294px;
	transform: translateY(101%);

	background-color: rgba(33, 150, 243, 0.9);

	@include animation(transform);

	.portfolio-card__link:hover &,
	.portfolio-card__link:focus & {
		transform: translateY(0);
	}

	overflow-y: scroll;
}

.portfolio-card__link {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.portfolio-card__text {
	padding: 24px;
	font-size: 18px;
	line-height: 1.56;

	color: $bgColor;
}

.portfolio-card__title {
	margin-bottom: 4px;
	color: $titleColor;

	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.portfolio-card__content {
	display: flex;
	flex-direction: column;
	padding: 20px 24px;

	border-left: 1px solid $borderColor;
	border-right: 1px solid $borderColor;
	border-bottom: 1px solid $borderColor;
	flex-grow: 1;
}

.portfolio-card__type {
	font-size: 16px;
	line-height: 1.88;

	color: $textColor;
}
