.team {
	background-color: $secondaryBgColor;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
}

// .team__list {
//     display: flex;
// }

.team__item {
	max-width: 450px;

	@media Screen and (max-width: 767px) {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	background-color: $bgColor;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;

	@include respond-to("medium") {
		width: calc((100% - 60px) / 2);
		//margin-top: 30px;
		//margin-left: 30px;
	}

	@include respond-to("large") {
		width: calc((100% - 120px) / 4);
	}
}

.team-title {
	margin-top: 30px;
	margin-bottom: 10px;

	color: $titleColor;

	font-size: 16px;
	line-height: 1.19;
	font-weight: 500;
}

.team__img {
	//display: block;
}

.team__social-links {
	padding-top: 16px;
	padding-bottom: 24px;

	@include respond-to("large") {
		padding-bottom: 30px;
	}
}
