@mixin animation($property, $duration:250ms) {
transition: $property $duration cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin animation2($property1, $property2, $duration1:250ms, $duration2:250ms) {
    transition: $property1 $duration1 cubic-bezier(0.4, 0, 0.2, 1), $property2 $duration2 cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin animation3($property1, $property2, $property3, $duration1: 250ms, $duration2: 250ms, $duration3: 250ms) {
    transition: $property1 $duration1 cubic-bezier(0.4, 0, 0.2, 1), $property2 $duration2 cubic-bezier(0.4, 0, 0.2, 1), $property3 $duration3 cubic-bezier(0.4, 0, 0.2, 1);
}